@model HelpImHungry.ViewModels.LocationViewModel




<div class="row">
    <div  class="col-sm-12">
        <div id="helpimhungry">Help</div>
        <div id="helpimhungry">I'M</div>
        <div id="helpimhungry">Hungry</div><br />
        <form asp-controller="Home" asp-action="index" method="post">
            <input class="form-control" asp-for="Location" placeholder="Enter Your Location" />
            <div asp-validation-summary="All"></div>
            <input class="findfood" type="submit" value="Find Food" />
        </form>
    </div>
   

</div>
   


    
        
   
    

