@model HelpImHungry.Models.NearbyPlacesJsonModel.Result[]

<div class="row">
    <div class="col-sm-8">
        <h2>Restaurant Name</h2>
        <h5>Some Details</h5>
        <div class="fakeimg">GoogleMap</div>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Possible Link</a>
        </ul>
        <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">

        <h5>Filters</h5>
        <br><br>
        <div class="fakeimg">possible list of restaurants </div>
        <h5>prev and next buttons</h5>
    </div>
</div>






















<div class="container">
    <div class="row">
        <div col="col-sm-6">

        </div>
        <ul>
            @for (int r = 0; r <= RestaurantData.Restaurants.Length - 1; r++)
            {
                <li>@RestaurantData.Restaurants[r].Name</li>}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" onclick="">Prev</button>
        </div>
        <div class="col-md-6">
            <button type="button" onclick="">next</button>
        </div>

    </div>
</div>
