@model HelpImHungry.Models.NearbyPlacesJsonModel.Result[]

<div class="row">
    <div class="col-sm-8">
        @{ var showDiv = 1;

        }
        <h2 class="rdata">@RestaurantData.Restaurants[showDiv].Name</h2>
        <h5>@RestaurantData.Restaurants[showDiv].Vicinity</h5>
        @{ if (RestaurantData.Restaurants[showDiv].Opening_hours != null)
            {
                if (RestaurantData.Restaurants[showDiv].Opening_hours.Open_now == true)
                {<h5>Now Open: Yes</h5> }
                if (RestaurantData.Restaurants[showDiv].Opening_hours.Open_now == false)
                { <h5>Now Open: No</h5>}
            }
            }
        <h5></h5>
        <h5></h5>
        <div class="fakeimg">GoogleMap</div>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Possible Link</a>
        </ul>
        <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">

        <h5>Filters</h5>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options"  autocomplete="off" checked> Random
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options"  autocomplete="off"> Distance
            </label>    
        </div>

        
        
        <br><br>
        <div class="fakeimg">possible list of restaurants </div>
        <br />
        <button type="button" onclick="" class="btn btn-secondary">Prev</button>
        <button id="nextbutton"type="button" onclick="Function" class="btn btn-secondary">next</button>

    </div>
</div>