@model HelpImHungry.Models.NearbyPlacesJsonModel.Result[]

<div class="row">
    <div class="col-sm-8">

        <div class="restaurant1">
            <h2>@RestaurantData.Restaurants[0].Name</h2>
            <h5>@RestaurantData.Restaurants[0].Vicinity</h5>
            @{ if (RestaurantData.Restaurants[0].Opening_hours != null)
                {
                    if (RestaurantData.Restaurants[0].Opening_hours.Open_now == true)
                    {<h5>Now Open: Yes</h5> }
                    if (RestaurantData.Restaurants[0].Opening_hours.Open_now == false)
                    { <h5>Now Open: No</h5>}
                }
            }
        </div>

        @for (int r = 0; r <= RestaurantData.Restaurants.Length - 1; r++)
        {
            <div class="restaurant">
                <h2>@RestaurantData.Restaurants[r].Name</h2>
                <h5>@RestaurantData.Restaurants[r].Vicinity</h5>
                @{ if (RestaurantData.Restaurants[r].Opening_hours != null)
                    {
                        if (RestaurantData.Restaurants[r].Opening_hours.Open_now == true)
                        {<h5>Now Open: Yes</h5> }
                        if (RestaurantData.Restaurants[r].Opening_hours.Open_now == false)
                        { <h5>Now Open: No</h5>}
                    }
                }
            </div>
        }

        <h5></h5>
        <h5></h5>
        <div class="fakeimg">GoogleMap</div>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Possible Link</a>
        </ul>
        <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">

        <h5>Filters</h5>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options"  autocomplete="off" checked> Random
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options"  autocomplete="off"> Distance
            </label>    
        </div>

        
        
        <br><br>
        <div class="fakeimg">possible list of restaurants </div>
        <br />
        <button type="button" onclick="showPrev();" class="btn btn-secondary">Prev</button>
        <button id="nextbutton"type="button" onclick="showNext();" class="btn btn-secondary">Next</button>

    </div>
</div>

<script src="~/js/site.js"></script>